In [19]:
import numpy as np
import pandas as pd

In [20]:
df = pd.DataFrame()
df['Name'] = ['Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Oliver']
df['Age'] = [14, 12, 11, 10, 8, 6, 8]

In [21]:
print(df)

     Name  Age
0    Greg   14
1  Marcia   12
2   Peter   11
3     Jan   10
4   Bobby    8
5   Cindy    6
6  Oliver    8

In [22]:
np.mean(df['Age'])

9.857142857142858

In [23]:
np.median(df['Age'])

10.0

In [24]:
import statistics
statistics.mode(df['Age'])

8

In [25]:
df['Age'].var()

7.476190476190475

In [26]:
np.std(df['Age'], ddof=1)

2.734262327610589

In [27]:
np.std(df['Age'] ,ddof=1) / np.sqrt(len(df['Age']))

1.0334540197243192

In [41]:
df.replace(6, 7)

     Name  Age
0    Greg   14
1  Marcia   12
2   Peter   11
3     Jan   10
4   Bobby    8
5   Cindy    7
6  Oliver    8

In [42]:
np.mean(df['Age'])

9.857142857142858

In [43]:
np.median(df['Age'])

10.0

In [44]:
import statistics
statistics.mode(df['Age'])

8

In [45]:
df['Age'].var()

7.476190476190475

In [33]:
np.std(df['Age'], ddof=1)

2.734262327610589

In [34]:
np.std(df['Age'] ,ddof=1) / np.sqrt(len(df['Age']))

1.0334540197243192

In [56]:
df.loc[6, 'Age'] = 1
df.iloc[6,0] = 'Jessica'
print(df)

      Name   Age
0     Greg  14.0
1   Marcia  12.0
2    Peter  11.0
3      Jan  10.0
4    Bobby   8.0
5    Cindy   6.0
6  Jessica   7.0

In [57]:
np.mean(df['Age'])

9.714285714285714

In [66]:
np.median(df['Age'])

10.0

In [70]:
(values, counts) = np.unique(df['Age'], return_counts=True)
ind = np.argmax(counts)
print(ind)

0

In [71]:
df['Age'].var()

8.238095238095237

In [72]:
np.std(df['Age'], ddof=1)

2.8702082220799308

In [73]:
np.std(df['Age'] ,ddof=1) / np.sqrt(len(df['Age']))

1.084836738085192

In [79]:
fifty_anni = pd.DataFrame()
fifty_anni['Percent'] = [0.2,0.23,0.17]
print(fifty_anni)

   Percent
0     0.20
1     0.23
2     0.17

In [80]:
np.mean(fifty_anni['Percent'])

0.20000000000000004